* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


header {
    background-color: #00ccbc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px 20px;
}
    #search {
        background-color: white;
        height: 40px;
        width: 600px;
        display: flex;
        border-radius: 5px;
    }
        #search > div {
            width: 40px;
            margin: auto;
            text-align: center;
        }
        #search form > input {
            height: 100%;
            width: 560px;
            border: none;
            border-radius: 5px;
        }
        #search form > input:focus{
            outline: none;
        }
    #links > a {
        text-decoration: none;
        margin: 0 10px;
        color: white;
    }

/* HOME */
    #jumbo {
        background-color: #d0eb99;
        height: 200px;
    }

    #typologies {
        background-color: white;
        display: flex;
        padding: 15px;
        overflow: auto;
    }
        #typologies > div {
            height: 90px;
            min-width: 150px;
            background-color: coral;
            color: white;
            border-radius: 5px;
            margin: 0 10px;
            padding: 5px;
        }

    #bestRated {
        background-color: #ffa280;
        padding: 20px;
        color: white;
    }
    #restContainer {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: black;
    }
        #restContainer > div {
            height: 350px;
            width: 260px;
            background-color: white;
            border: 1px solid grey;
            border-radius: 5px;
            margin: 10px;
        }
        #img {
            background-color: dimgray;
            height: 50%;
        }


