#dashboard {
    width: 600px;

    h3 {
        color: $mainpurple;
        font-size: 18px;
        margin-bottom: 20px; 
        
        i:hover {
            color: $mainpink;
        }
    }
    h4 {
        color: $mainpurple;
        display: inline-block;
        margin-bottom: 10px;
    }
}

#box-det {
    margin-bottom: 10px;
}

.hide {
    display: none;
}