footer {
    min-height: 110px;
    background-color: #006666;
    color: white;
    padding: 20px 25px;

    div:last-child {

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 15px;

        a {
            color: rgb(211, 211, 211);
            text-decoration: none;
            margin: 10px 0 0 10px;

            &:hover {
                color: white;
            }
        }
    }
}
