
// Jumbotron
#jumbo {
    background-color: $maingreen;
    position: relative;
    display: flex;
    justify-content: space-between;
   
    height: 400px;
}
    .jumbo {
        height: 100%;
        position: relative;
 
        label {
            font-size: 20px;
            color: $mainpurple;
        }

        select {
            height: 25px;
            margin: 10px 0 0 5px;
            font-size: 16px;
            color: $mainblack;
            border-color: $main;
            border-radius: 50px;
            padding: 2px 2px 3px;

            &:focus {
                outline: none;
                box-shadow: 0px 0px 1px 1px $main;
            }
        }

        &:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100%/2);

            @media all and (max-width: 767px) {
                width: 100%;
            }

            div {

                padding: 55px 15px 15px;

                h1 {
                    font-size: 50px;
                    color: $mainpurple;
                }
            }
        }


        &:last-child {

            @media all and (max-width: 767px) {
                display: none;
            }

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }

/* diagonal border */
.gradient {
width: 100%;
height: 200px;
position: absolute;
top: 0;
}
svg {
  height: 100%;
  width: 100%;
}

//Tipologie
#typologies {
    background-color: white;
    display: flex;
    padding: 15px;
    overflow: auto;

    div {
        height: 90px;
        min-width: 150px;
        color: white;
        border-radius: 5px;
        margin: 0 10px;
        padding: 5px;
        background-color: $main;
        transition: 0.3s;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 3px 10px 1px rgb(189, 189, 189);
        }
    }
}

//Ristoranti
.bestRated {
    background-color: $mainpink;
    padding: 20px 20px 50px;
    color: white;

    .best {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: black;
    }

    .best > div {

        @include cardStyle($mainshadow);
        transition: 0.3s;

        &:hover {

            cursor: pointer;
            transform: scale(1.1);
        }

        .img-container {
            background-color: dimgray;
            background-image: url(../img/generic.jpg);
            background-size: cover;
            width: 100%;
            height: 138px;
            padding: initial;

            img {
                width: 100%;
            }
        }

        div {
            padding: 5px 15px;

            h4 {
                color: #262626;
                font-size: 14px;
            }
        }
    }

    .noRes {
        text-align: center;
    }

    .stars {
        color: $mainyellow;
    }
}


.msric {
    
    background-color: #006666;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}


