.login-register {
    width: 400px;
    margin: 50px auto;
    border: 1px solid $main;
    border-radius: 10px;
    background-color: white;

    .card-header {
        color: $mainpurple;
        text-align: center;
        background-color: $main;
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px 10px 0 0;
        padding: 10px;
    }

    .card-body {
        padding: 20px 10px;
        width: 50%;
        margin: auto;

        label {
            font-size: 18px;
            color: $mainpurple;
        }

        button {
            @include buttonStyle($mainpink, $mainpurple);
        }
    }
}
    
    #email, #password, #register input {
        @include inputStyle($main);
    }
    
    #remember, #forgot-p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    