#menu {
    background-color: $maingreen;
    height: calc(100vh - 180px);
    overflow: auto;

    .ordine {
        display: flex;
        justify-content: space-between;
        height: 100%;
        
        #dish-card-container {
            display: flex;
            flex-wrap: wrap;

            .dish-card {
                @include cardStyle($mainshadow);
                padding: 10px;
            }
        }

        #cart-container {
            @include cardStyle($mainpink);
            box-shadow: none;
            border: 3px solid $mainpink;
            padding: 5px;
            
            div:first-child {
                
                background-color: $mainpink;
                color: white;
                text-align: center;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                h3 {
                    margin-right: 5px;
                }
                
            }
            
            .cart {
                height: calc(100% - 120px);
                padding: 5px;
                overflow: auto;

                ul {
                    list-style: none;
                }
            }

            div:last-child {

                height: 70px;
                border-top: 1px solid black;
                padding: 10px;

                h2 {
                    color: $mainblack;
                    margin-bottom: 10px;
                }
            }
        }

    }
}