#menu {
    background-color: $maingreen;
    height: calc(100vh - 180px);
    overflow: auto;

    .ordine {
        display: flex;
        flex-wrap: wrap;

        .title {
            color: $mainpurple;
            margin-top: 15px;
            text-align: center;
        }
        
        .dish-card-container {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            width: calc(100vw - 300px);
            height: calc(100vh - 220px);
            overflow: auto;

            .dish-card {
                @include cardStyle($mainshadow);
                padding: 10px 15px;
                height: 220px;


                &:hover {
                    box-shadow: 0px 0px 10px 1px $mainshadow;
                }

                .img-container {

                    background-image: url(../img/food.jpg);
                    background-size: cover;
                    background-position: left;
                    width: 230px;
                    height: 104px;

                    img {
                        margin: auto;
                        max-width: 100%;
                        max-height: 100%;   
                    }
                }


                .food-body {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;  
                    height: calc(100% - 119px);

                    h3 {
                        margin-bottom: 5px;
                        color: $mainpurple;
                    }

                    span {
                        color: $mainblack;
                        font-weight: bold;
                    }
                }

                .plus {
                    display: flex;
                    align-items: center;

                    p {

                        color: $mainpink;
                    }

                    i {
                        color: $main;
                        font-size: 25px;

                        &:hover {

                            cursor: pointer
                        }
                        &:active {
                            color: $mainpurple;
                        }
                    }
                }
            }
        }

        .cart-container {
            @include cardStyle($mainpink);
            box-shadow: none;
            border: 3px solid $mainpink;
            padding: 5px;
            // height: calc(100vh - 200px);
            
            .cart-header {
                
                background-color: $mainpink;
                color: white;
                text-align: center;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    margin: 0 5px;
                }
                
            }
            
            .cart {
                height: calc(100vh - 256px);
                padding: 5px;

                .cart-element {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid gray;
                    padding: 10px 5px;

                    p {
                        color: $main;
                        margin: 5px 0 0 18px;
                    }

                    i {
                        color: $mainpink;

                        &:hover {
                            cursor: pointer;
                        }
                        &:active {
                            color: $mainpurple;
                        }
                    }
                }

                button {
    
                    @include buttonStyle($mainpink, $mainblack);
                    border-color: $mainblack;
                }
            }
            .cart > div:first-child {

                height: calc(100% - 80px);
                overflow: auto;
            }

            .cart > div:last-child {

                height: 80px;
                border-top: 1px solid black;
                padding: 10px;

                h2 {
                    color: $mainblack;
                    margin-bottom: 10px;
                }
            }

        }

        .pagamento {

            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 40px;
            width: calc(100vw - 380px);

            @media all and (max-width: 767px) {
                width: 100vw;
            }

            button {
    
                @include buttonStyle($lightyellow, $mainpurple);
                font-weight: bold;
            }

            .carta-di-credito {
    
                svg {
                    max-width: 40px;
                }

                .braintree-dropin.braintree-loaded {
                    margin: 20px 0;
                }
                
            }
    
            #form {
    
                background-color: white;
                padding: 10px;
                margin-top: 20px;
                border: 1px solid gray;
                border-radius: 3px;
                width: 80%;
                
                h2 {
                    color: $mainpurple;
                }
    
                .form-container{
    
                    display: flex;
                    flex-wrap: wrap;
                    
                    padding: 10px;
    
                    label {
                        font-size: 18px;
                        color: $mainpurple;
                    }
        
                    input {
                        
                        @include inputStyle($main);
                        border-color: gray;
                        width: 300px;
                        height: 30px;
                        margin-right: 10px;

                        @media all and (max-width: 991px) {
                            
                            width: 100% ;
                             
                        }
                    }
    
                }
                
            }
        }
    }

    //Messaggio finale
    .description-overlay{

        .card {
            height: 150px;
            width: 450px;
            margin-top: 200px;
            background-image: url(../img/food.jpg);
            background-size: contain;
            border-radius: 5px;
            color: $main;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1, h2 {

                background-color: rgba(255, 255, 255, 0.959);
                // box-shadow: 0px 0px 3px 3px white;
                border-radius: 10px;

            }
    
        }   
    }

    //Media query
    
    @media all and (max-width: 991px) {
    
        
    }
    
    @media all and (max-width: 767px) {
    
        #dish-card-container {

            width: calc(100vw - 30px) ;
        }

        .cart-container {

            width: 100vw;
        }
        
    }
    
    @media all and (max-width: 479px) {
    
       
    }

}