.edit {
    
    .card {
        width: 55%;
        border-color: $mainyellow;

    }

    .card-header {
        background-color: $lightyellow;
    }

    input {
        @include inputStyle($mainyellow);
        padding-left: 7px;
    }

    label {
        font-weight: bold;
    }
}
.select {
    margin-bottom: 20px;
}