.create {

    .card {
        border-color: $mainpurple;
        width: 50%;
    }

    .card-header {
        background-color: $mainpurple;
        color: white;
    }

    .form-control.form {
        @include inputStyle($main);
        padding-left: 7px;

    }

    .form-control.form.image {
        border: none;
        margin-top: 15px;
    }

    .check-container {

        border: 1px solid $mainpurple;
        border-radius: 3px;
        padding: 10px;

        input {
            margin-bottom: 10px;
        }
    }
}