// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$main: #00ccbc;
$maingreen: #d0eb99;
$darkgreen: #6b9023;
$mainpurple: #660066;
$mainpink: #ffa280;
$mainyellow: #ffcc33;
$lightyellow: #fddb75;
$mainblack: #262626;
$mainshadow: rgb(68, 68, 68);

//Mixines
@mixin buttonStyle($background, $color){
    height: 30px;
    padding: 0 10px;
    background-color: $background;
    color: $color;
    border: 1px solid $mainpurple;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;

    &:active {
        outline-color: $main;
    }
    &:hover {
        cursor: pointer;
    }
}

@mixin inputStyle($outlineColor){
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid $mainpurple;
    border-radius: 3px;

    &:focus {
        outline-color: $outlineColor;
    }
}

@mixin cardStyle($shadowcolor) {
    width: 260px;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0px 0px 3px 1px $shadowcolor;
    list-style: none;
}