@import "partials/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Header */
@import "partials/header";

/* HOME */
@import "partials/home";

/* LOGIN PAGE */
@import "partials/login-register";

// Dashboard
@import "partials/dashboard";

//Restaurant-edit
@import "partials/restaurant-edit";

//Dishes-index
@import "partials/dishes-index";

//Footer
@import "partials/footer";

@import '~@fortawesome/fontawesome-free/css/all.min.css'